<app-card class="market-intelligence">
  <div class="market-intelligence__title">Quick actions</div>

  <div class="market-intelligence__item">
    <i
      class="fa fa-circle circle"
      [style.color]="'#b93b3b'"
    ></i>
    <span>Rate hardening in Cyber market - +15% YoY</span>
  </div>
  <div class="market-intelligence__item">
    <i
      class="fa fa-circle circle"
      [style.color]="'#fdd261'"
    ></i>
    <span>
      New capacity entering <br>
      NMarine market
    </span>
  </div>
  <div class="market-intelligence__item">
    <i
      class="fa fa-circle circle"
      [style.color]="'#1E40AF'"
    ></i>
    <span>Environmental regulatory changes in CA</span>
  </div>
</app-card>
