.quick-actions {
  &__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    button {
      padding: 8px 12px;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      background: #3b82f6;
      width: 100%;
      text-align: center;
      color: white;
    }
  }
}
